* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: black;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}


/* header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
} */


.header {
    /* background: black;
    position: fixed; */
    top: 0;
    left: 0;
}

.container {
    top: 0;
    left: 0;
    max-width: 1300px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.menu-icon {
    padding-left: 10px;
}


#search_bar {
    box-sizing: border-box;
    border: none;
    padding: 12px;
    width: 450px;
    outline: none;
    border-radius: 25px;
    margin-left: 120px;
    font-size: 15px;
    background: #fff;
    
}

#search_btn {
    cursor: pointer;
    /* border: 1px solid white; */
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.3s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    /* background-color:; */
    color: #fff;
    /* color: #12daa8; */
    font-size: 100%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    margin-left:-50px;
    bottom: -25px;
    white-space: nowrap;
    opacity: 0;
    z-index: 999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
/*-----------------------------End of Header----------------------------------*/







/*----------Demo Page----------*/
  .container2{
    padding: 50px; 
    /* margin-top: 350px; */
    margin-left: 15px;
    background-color: black;
  }


  .container2 h1{
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 45px;
    margin: 50px 0px;
    position: relative;
    padding-bottom: 17px;
  }

  .container2 h1::after {
    content: '';
    background: #12daa8;
    width: 150px;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 49%;
    transform: translateX(-50%);
}

.main-up{
    width: 100%;
    height: 550px;
    margin: 0;
    padding: 0;
    /* position: relative; */
}
.main-up h1{
    position: absolute;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 45px;
    margin: 50px 0px;
    /* color: #12daa8; */
    top: 50%;
    left: 15%;
    font-weight:400;
    font-size: 60px;
}

.main-up img{
    width: 100%;
    position: relative;
    height: 100%;
}

.grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 105px;
    position: relative;
    z-index: 1;
  }

  .div-one .card{
    width: 335px;
    height: 400px;
    padding: 15px;
    padding-top: 0px;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    backdrop-filter: blur(10px);
    border: 2px solid rgb(59, 56, 56);
    /* border: 2px solid rgba(255, 255, 255, 0.308); */
    box-shadow: 0 0 6px 0px rgba(255, 255, 255, 0.308);
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

   .div-two .card{
    width: 340px;
    height: 425px;
    padding: 15px;
    padding-top: 0px;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    backdrop-filter: blur(10px);
    border: 2px solid rgb(59, 56, 56);
    /* border: 2px solid rgba(255, 255, 255, 0.308); */
    box-shadow: 0 0 6px 0px rgba(255, 255, 255, 0.308);
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .div-one .card #apple{
    width: 335px;
    height: 420px;
  }
  .product-img img{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 80%;
    height: 40%;
    object-fit: cover;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .product-img img:hover{
    transform: scale(1.12);
    transition: all 0.5s ease-in-out;
  }
  .product-info {
    /* margin-top: 10px; */
    position: absolute;
    object-fit: contain;
    color: #fff;
  }
  .div-two .product-info {
    margin-top: 0px;
  }
  .new-price{
    color: #12daa8;
    font-size: x-large;
  }
  .old-price{
    text-decoration: line-through;
  }
  
  .cp-rating ion-icon{
    color: rgb(157, 154, 154);
    width: 19px;
    height: 22px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .cp-rating ion-icon:hover{
    color: #12daa8;
  }
  .cp-rating ion-icon.active{
    color: #12daa8;
  }

.card .cp-rating{
    margin-bottom: -3px;
}
.product-info .heart{
    position: absolute;
    right: 10px;
    bottom: -5px;
    color: #fff;
    width: 22px;
    height: 22px;
    transition: color 0.3s ease;
  }
  .heart.active {
    color: #12daa8; /* Change the color on click */
}

  #countdown1,
  #countdown2,
  #countdown3,
  #countdown4 {
      font-size: 18px;
      font-weight: 200;
      color: #fff;
  }



  .scroll-container{
    overflow-x: auto;
    white-space: nowrap;
    padding: 18px;
    margin:0 90px;
    width: 82%;
  }
  
  .scroll-container img {
    padding: 5px;
    width: 280px;
    height: 180px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scroll-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
 
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  opacity: 0.9;
  margin-top: 50px;
}


.guide{
    color: white;
    text-align: center;
    font-weight: 200;
}
.guide a{
    text-decoration: none;
    color: #12daa8;
    font-size: 24px;
}


/*---------------Footer--------------*/

.service_header li {
    list-style: none;
}

.service_header a {
    text-decoration: none;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    top: 70px;
    background-color: black;
    box-shadow: 0 16px 70px -8px rgba(253, 253, 253, 0.4);
}

footer .container1 {
    box-sizing: border-box;
    max-width: 1330px;
    margin: auto;
    padding: 25px 50px;
}

.content_footer {
    /* flex-direction: column; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
}

.profil .logo_area {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

.profil .logo_area img {
    border-radius: 50%;
    border: 1px solid white;
}

.desc_area {
    max-width: 450px;
    margin-bottom: 1.25rem;
}

.desc_area p {
    color: white;
    font-weight: 400;
    line-height: 25px;
}

.social_media a {
    color: white;
    margin-right: 20px;
    font-size: 30px;
}

.social_media a:hover {
    color: #12daa8;
}

.service_area {
    display: flex;
    align-items: center;
}

.service_header {
    margin-right: 40px;
    padding-left: 40px;
}

.service_name {
    color: #12daa8;
    font-weight: 700;
    font-size: large;
    padding-bottom: 5px;
}

.service_header li a {
    color: white;
    padding-bottom: 1px;
    font-weight: 400;
}

.service_header li a:hover {
    color: #12daa8;
}

.service_header li {
    margin-bottom: 10px;
}

hr {
    height: 1px;
    border: none;
    background-color: white;
    margin-bottom: 1rem;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    /* margin-right: 20px; */
}

.copy_right {
    color: #12daa8;
    display: flex;
    align-items: center;
}

.copy_right span {
    margin-left: 8px;
    font-weight: 400;
    letter-spacing: 0.3rem;
}

.tou {
    color: #fff;
    margin-left: 1.5rem;
}

.tou a {
    justify-content: space-between;
    padding-right: 8px;
}

.tou a:hover {
    color: #12daa8;
}


/* media-query for footer */
@media only screen and (max-width:800px) {
    .content_footer {
        flex-wrap: wrap;
        justify-content: left;
    }

    .service_area {
        flex-wrap: wrap;
        justify-content: left;
    }

    .service_header {
        margin-left: 0px;
        margin-right: 40px;
    }

    .social_media {
        margin-bottom: 08px;
    }

    .footer_bottom {
        flex-wrap: wrap;
        justify-content: center;
    }
    .copy_right{
        margin-bottom: 5px;
    }
}



@media only screen and (max-width:800px) {
    .up{
        width: 300px;
        height: 300px;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
    
}



/*media query for menu*/
@media only screen and (max-width:1600px) {
    .menu-icon {
        display: none;
    }

}

@media only screen and (max-width:1200px) {

    #search_bar,
    #search_btn {
        margin: 0 auto;
        width: auto;
    }
}

@media only screen and (max-width:800px) {
    nav ul {
        position: absolute;
        float: right;
        top: 100px;
        left: 0;
        background: #070707;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5;
        z-index: 999;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .slideshow-container {
        overflow: hidden;
        position: relative;
    }

    [data-title]:after {
        content: attr(data-title);
        z-index: 1;
        position: absolute;
        margin-left: -130px;
        bottom: 5px;
    }
    
    
    #search_bar,
    #search_btn {
        margin: 0 auto;
        width: 35%;
    }

}



/* media query for less than 800 screen size */

@media only screen and (min-width: 300px) and (max-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 240px);
        gap: 20px;
    }
    .container2{
        margin-top: 100px;
        padding-left: 50px;
    }
    .card{
        width: 300px;
        height: 400px;
    }
    #apple{
        width: 330px;
        height: 400px;
    }
    .scroll-container{
        margin: 0px;
        width: 100%;
    }
}  
@media only screen and (max-width:1000px) and (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 240px);
        gap:120px;
    }
    .container2{
        margin-top: 100px;
        padding-left: 10px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1500px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        gap:150px;
    }
    .container2{
        padding-left: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .card{
        width: 350px;
        height: 410px;
    }
    #apple{
        width: 350px;
        height: 410px;
    }
}  








